@tailwind base;
@tailwind components;
@tailwind utilities;

.featured-item{
    background-image: url('./assets/home/featured.jpg');
    background-position: center;
    background-size: cover;
}

.Parallax-item{
    background-image: url('./assets/home/chef-service.jpg');
    background-position: center;
    background-size: cover;
}